html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", Arial, sans-serif;
    height: 100vh;
    background-image: url("background-image/coffee-about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;

}

nav {
  padding: 15px 40px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.shop-name {
  margin: 0;            
  font-size: 1.2rem;  
  font-weight: bold;
  color: rgb(255, 255, 255);
}


.navigator {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  font-weight: 500;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid white;
}

a {
  text-decoration: none;
}

.container-1 {
  max-width: 800px;
  margin: 20px auto 40px auto;
  padding: 20px;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
}

.about-us {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 40px;
}

img {
  width: 150px;
  height: 150px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 80px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: white;
}

.story-text {
  text-align: justify;
  font-size: 20px;
  color: white;
  line-height: 1.6;
}

.name {
  color: rgb(231, 165, 41);
  font-weight: bold;
}

.our-mission {
  max-width: 800px;
  margin: 20px auto 40px auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: white;
}
