html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", Arial, sans-serif;
    height: 100vh;
    background-image: url("background-image/coffee-about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;

}

nav {
  padding: 15px 40px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.shop-name {
  margin: 0;            
  font-size: 1.2rem;  
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.navigator {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  font-weight: 500;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid white;
}

a {
  text-decoration: none;
}

.signup {
  background-color: burlywood;
  padding: 4px 10px;
  border-radius: 20px;
  margin-right: 90px;
}

.container {
  max-width: 800px;
  margin: 90px auto 40px auto;
  padding: 20px;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
}

.about-us {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 40px;
}


.profile-picture {
  width: 150px;
  height: 150px;
  border: 3px solid rgb(151, 153, 153);
  border-radius: 80px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: rgb(224, 167, 44);
  font-size: 40px;
}

.story-text {
  text-align: justify;
  font-size: 20px;
  color: white;
  line-height: 1.6;
}

.name {
  color: rgb(238, 189, 55);
  font-weight: bolder;
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(223, 196, 160);
  color: rgb(0, 0, 0);
  padding: 0px;
  margin: 0px;
}

.container-footer {
  padding: 0px;
  margin: 0px;
}

.order {
  font-size: 15px;
  font-weight: bold;
}

.delivery {
  font-size: 14px;
  font-weight: 500;
  color: rgb(46, 45, 45);
}

img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.footer {
  font-size: 12px;
  font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .shop-name {
    font-size: 0.7rem;
    margin-left: 0px;
  }

  .navigator {
    font-size: 0.7rem;
    gap: 15px;
  }

  nav {
    padding: 0.9rem 0.1rem;
    justify-content: space-evenly;
  }

  .signup {
    margin-right: 0.5rem;
  }

  .container {
    flex-direction: column;
    max-width: 320px;
  }

  .profile-picture {
    width: 110px;
    height: 110px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .story-text {
    font-size: 1rem;
  }

  .container-1 {
    margin-top: auto;
    width: 100%;
  }

  .order {
    font-size: 0.9rem;
  }
  .delivery {
    font-size: 0.8rem;
  }

  img {
    width: 25px;
    height: 25px;
  }

  .footer {
    font-size: 0.7rem;
  }

}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .shop-name {
    font-size: 1rem;
  }

  .navigator {
    font-size: 0.9rem;
  }

  .container {
    flex-direction: column;
    max-width: 700px;
  }

  .profile-picture {
    width: 130px;
    height: 130px;
  }

  h1 {
    font-size: 2.1rem;
  }

  .story-text {
    font-size: 1.1rem;
  }

  .container-1 {
    margin-top: auto;
    width: 100%;
  }

  .order {
    font-size: 0.9rem;
  }
  .delivery {
    font-size: 0.8rem;
  }

  img {
    width: 27px;
    height: 27px;
  }

  .footer {
    font-size: 0.7rem;
  }
}
