html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", Arial, sans-serif;
    height: 100vh;
    background-image: url("background-image/coffee-contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}

nav {
  padding: 15px 40px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.shop-name {
  margin: 0;            
  font-size: 1.2rem;  
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.navigator {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  font-weight: 500;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid white;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 90px auto auto auto;
}


.signup {
  background-color: burlywood;
  padding: 4px 10px;
  border-radius: 20px;
  margin-right: 90px;
}

.container-contact {
  text-align: center;
  background-color: rgba(19, 19, 19, 0.5);
  margin-bottom: 14%;
  padding: 50px;
}

input {
  display: block;
  width: 315px;
  height: 45px;
  margin: 15px;
  margin-bottom: 20px;
  padding: 0px 10px;
  border: 0px solid;
  border-radius: 10px;
}

.message {
  padding-bottom: 70px;
}

.btn-submit {
  background-color: burlywood;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.container-location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-bottom: 10%;
}

h1 {
  color: rgb(224, 167, 44);
  font-size: 40px;
  text-align: center;
}

.address-images {
  text-align: center;
  background-color: rgba(19, 19, 19, 0.5);
  padding: 10px;
}

.location-info {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.location-image-1 {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}
.location-image-2 {
  width: 250px;
  height: 196px;
  border-radius: 10px
}
.location-image-3 {
  width: 250px;
  height: 195px;
  border-radius: 10px
}
.location-image-4 {
  width: 250px;
  height: 200px;
  border-radius: 10px
}

.location-image-1:hover,
.location-image-2:hover,
.location-image-3:hover,
.location-image-4:hover {
  width: 270px;
  height: 220px;
}

.time, .address-info {
  color: white;
  margin-top: 5px;
  font-size: 17px;
}

.Opening, 
.address {
  font-size: 20px;
  font-weight: bold;
  color: burlywood;
}

.coffee-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.contact {
  text-align: center;
  background-color: rgba(19, 19, 19, 0.5);
  padding: 30px;
}

.contact-item {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.phone-number-logo {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.gmail-logo {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.facebook-logo {
  width: 60px;
  height: 60px;
}

.instagram-logo {
  width: 55px;
  height: 55px;
}

.contact-item a, 
.contact-item p {
  margin: 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.contact-item .description {
  flex-basis: 100%; 
  margin-top: 10px;
  font-weight: normal;
  color: white;
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(223, 196, 160);
  color: rgb(0, 0, 0);
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.container-footer {
  padding: 0px;
  margin: 0px;
}

.order {
  font-size: 15px;
  font-weight: bold;
}

.delivery {
  font-size: 14px;
  font-weight: 500;
  color: rgb(46, 45, 45);
}

.foodpanda-logo,
.grabfood-logo {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.footer {
  font-size: 12px;
  font-weight: bold;
}


@media screen and (min-width: 320px) and (max-width: 600px) {
  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .container {
    margin: 110px 0 50px 0;
  }
  
  .shop-name {
    font-size: 0.7rem;
    margin-left: 0px;
  }

  .navigator {
    font-size: 0.7rem;
    gap: 15px;
  }

  nav {
    padding: 0.9rem 0.1rem;
    justify-content: space-evenly;
  }

  .signup {
    margin-right: 0.5rem;
  }

  .container {
    margin: 90px auto auto auto;
  }

  .container-contact {
    padding: 10px 0px 30px;
  }

  h1 {
    font-size: 1.8rem;
  }

  input {
    width: 270px;
    height: 40px;
    margin: 15px;
    margin-bottom: 20px;
    padding: 0px 10px;
    border: 0px solid;
    border-radius: 10px;
  }

  .container-location {
    flex-direction: column;
  }

  .location-info {
    display: block;
    text-align: center;
  }

  .address-images {
    flex-direction: column;
  }
  .location-image-1 {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  }

  .location-image-2 {
    width: 200px;
    height: 146px;
    border-radius: 10px
  }

  .location-image-3 {
    width: 200px;
    height: 145px;
    border-radius: 10px
  }

  .location-image-4 {
    width: 200px;
    height: 150px;
    border-radius: 10px
  }

  .location-image-1:hover,
  .location-image-2:hover,
  .location-image-3:hover,
  .location-image-4:hover {
    width: 220px;
    height: 170px;
  }

  .Opening, 
  .address {
    font-size: 1rem;
  }

  .time,
  .address-info, 
  .description {
    color: white;
    margin-top: 0px;
    font-size: 0.9rem;
  }

  .contact-item {
    display: block;
    flex-direction: column;
  }

  .container-1 {
    margin-top: auto;
    width: 100%;
  }

  .order {
    font-size: 0.9rem;
  }
  .delivery {
    font-size: 0.8rem;
  }

  img {
    width: 25px;
    height: 25px;
  }

  .footer {
    font-size: 0.7rem;
  }
  
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .shop-name {
    font-size: 1rem;
  }

  .navigator {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2.1rem;
  }

  .location-info {
    display: block;
    margin: 20px;
    text-align: center;
  }

  .address-images {
    flex-direction: column;
  }
  .location-image-1 {
    width: 220px;
    height: 160px;
    border-radius: 10px;
  }

  .location-image-2 {
    width: 220px;
    height: 160px;
    border-radius: 10px
  }

  .location-image-3 {
    width: 220px;
    height: 160px;
    border-radius: 10px
  }

  .location-image-4 {
    width: 220px;
    height: 160px;
    border-radius: 10px
  }

  .location-image-1:hover,
  .location-image-2:hover,
  .location-image-3:hover,
  .location-image-4:hover {
    width: 240px;
    height: 170px;
  }

  .Opening, 
  .address {
    font-size: 1.1rem;
  }

  .time,
  .address-info, 
  .description {
    color: white;
    margin-top: 0px;
    font-size: 1rem;
  }

  .address-images {
    padding: 0px;
  }

  .contact-item {
    flex-direction: column;
  }

  .contact {
    padding: 1.8rem 0rem;
  }

  .container-1 {
    margin-top: auto;
    width: 100%;
  }

  .order {
    font-size: 0.9rem;
  }
  .delivery {
    font-size: 0.8rem;
  }

  img {
    width: 27px;
    height: 27px;
  }

  .footer {
    font-size: 0.7rem;
  }

}
