html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  background-image: url("background-image/coffee-home.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}

nav {
  padding: 15px 40px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-name {
  margin: 0;            
  font-size: 1.2rem;  
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.navigator {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid white;
}

.container {
  margin: 200px 0 0 60px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.signup {
  background-color: burlywood;
  padding: 4px 10px;
  border-radius: 20px;
}

.introduction {
  font-size: 20px;
  margin: 5px 0;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.order {
  background-color: rgb(255, 253, 253);
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 0px solid;
  border-radius: 10px;
  font-weight: bold;
}

h1, span, .introduction {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeSlide 1.5s ease-out forwards;
}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}