html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", Arial, sans-serif;
    height: 100vh;
    background-image: url("background-image/coffee-home.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;

}

nav {
  padding: 15px 40px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.shop-name {
  margin: 0;            
  font-size: 1.2rem;  
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.navigator {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  font-weight: 500;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid white;
}

a {
  text-decoration: none;
}

.signup {
  background-color: burlywood;
  padding: 4px 10px;
  border-radius: 20px;
  margin-right: 90px;
}

.container {
  margin: 200px 0 60px 60px;
}

h1 {
  font-size: 70px;
  margin-bottom: 20px;
  color: white;
}

.introduction {
  font-size: 20px;
  margin: 5px 0;
  color: white;
}

a {
  text-decoration: none;
}

.about-btn {
  background-color: white;
  padding: 15px;
  border: 0px solid;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.container-rate {
  margin: 0px 0px 70px 60px;
}

.container-rate-1 {
  display: inline-block;
  margin-right: 20px;
  padding: 0px;
}

.rate {
  font-size: 25px;
  font-weight: bolder;
  color: burlywood;
}

.rate-coffee,
.rate-order,
.rate-customer {
  font-size: 17px;
  color: white;
  font-weight: 100;
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(223, 196, 160);
  color: rgb(0, 0, 0);
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.container-footer {
  padding: 0px;
  margin: 0px;
}

.order {
  font-size: 15px;
  font-weight: bold;
}

.delivery {
  font-size: 14px;
  font-weight: 500;
  color: rgb(46, 45, 45);
}

img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.footer {
  font-size: 12px;
  font-weight: bold;
}

.container {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeSlide 1.5s ease-out forwards;
}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .shop-name {
    font-size: 0.8rem;
    margin-left: 0px;
  }

  .navigator {
    font-size: 0.8rem;
    gap: 15px;
  }

  nav {
    padding: 0.9rem 0.1rem;
    justify-content: space-evenly;
  }

  .signup {
    margin-right: 0.5rem;
  }

  .container {
    margin: 120px 0 10px 0;
  }

  h1 {
    text-align: center;
    font-size: 2.9rem;
    color: rgb(235, 139, 13);
  }


  .introduction {
    text-align: center;
    font-size: 1rem;
  }

  .about-btn {
    display: block;
    margin: 0 auto;
    width: fit-content; 
    padding: 0.6rem;
    font-size: 0.9rem;
    border-radius: 20px;
  }

  .container-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 40px 40px;
  }

  .rate {
    font-size: 1.2rem;
    margin: 0px;
  }

  .rate-coffee,
  .rate-order,
  .rate-customer {
    font-size: 0.9rem;
    color: white;
    font-weight: 100;
    text-align: center;
  }

  .container-1 {
    margin-top: auto;
    width: 100%;
  }

  .order {
    font-size: 0.9rem;
  }
  .delivery {
    font-size: 0.8rem;
  }

  img {
    width: 25px;
    height: 25px;
  }

  .footer {
    font-size: 0.7rem;
  }
  
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .shop-name {
    font-size: 1rem;
  }

  .navigator {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 3.7rem;
  }

  .introduction {
    font-size: 1.2rem;
    color: rgb(228, 178, 112);
  }

  .about-btn {
    padding: 0.8rem;
    font-size: 0.9rem;
    border-radius: 0.4rem;
  }

  .container-1 {
    margin-top: auto;
    width: 100%;
  }

  .order {
    font-size: 0.9rem;
  }
  .delivery {
    font-size: 0.8rem;
  }

  img {
    width: 27px;
    height: 27px;
  }

  .footer {
    font-size: 0.7rem;
  }
  
}
